In [1]:
import numpy as np
import pandas as pd
from IPython.core import display as ICD

### Ax = y

In [18]:
vector = [1,2,3]
matrix = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]
ICD.display(pd.DataFrame(matrix))
ICD.display(pd.DataFrame(vector))

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

   0
0  1
1  2
2  3

In [20]:
y = pd.DataFrame(list(map(lambda e : 
    list(map(lambda x: x[0] * x[1], zip(e, vector)))
    , matrix)))
ICD.display(y)
y.sum(axis=1)

    0   1   2
0   1   4   9
1   4  10  18
2   7  16  27
3  10  22  36

0    14
1    32
2    50
3    68
dtype: int64